{% extends "layout.html" %}}

{% block title %}
    CHANGE-PWD
{% endblock %}

{% block main %}
    <form action="/changepassword" method="POST">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="oldpwd" placeholder="oldpassword" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newpwd1" placeholder="newpassword" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newpwd2" placeholder="REPEAT newpassword" type="password">
        </div>
        <button class="btn btn-primary" type="submit">MODIFY</button>
    </form>
{% endblock %}
