{% extends "layout.html" %}

{% block title %}
 SELL
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <div class="mb-3">
           <select name="symbol" class="form-select mx-auto w-auto">
                <option selected disabled>SYMBOL</option>
                {% for a in stock %}
                <option value="{{a.symbol}}">{{a.symbol}}</option>
                {% endfor %}
           </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus type="number" name="shares" min="1" placeholder="SHARES" class="form-control mx-auto w-auto">
        </div>
        <button class="btn btn-primary" type="submit">
            SELL
        </button>
    </form>
{% endblock %}
